<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/uikit.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/bootstrap.min.css' %}">
    <script src="{% static 'polls/js/uikit.min.js' %}"></script>
    <script src="{% static 'polls/js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Financial Management</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand brand-bold uk-margin-left" href="#">Financial</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Daily</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Monthly</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Investiment
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Tesouro Direto</a>
                        <a class="dropdown-item" href="#">FIIs</a>
                        <a class="dropdown-item" href="#">CDB</a>
                        <a class="dropdown-item" href="#">Outros</a>
                    </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="uk-margin-top">
        <div class="row">
            <div class="month-lateral">
                JANUARY - 2020
            </div>
            <div class="uk-width-1-3">
                <div>
                    <table id="month-summary-table" class="table table-striped table-hover" >
                        <thead>
                            <tr>
                                <th scope="col">Had</th>
                                <th scope="col">Earn</th>
                                <th scope="col">Spent</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ summary.had }}99999</td>
                                <td>{{ summary.earn }}99999</td>
                                <td>{{ summary.spent }}99999</td>
                                <td>{{ summary.total }}99999</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table id="month-earn-table" class="table table-striped table-hover month-earn-table" >
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">From</th>
                                <th scope="col">With</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in latest_entry_list %}
                            <tr>
                                <td>{{ entry.had }}</td>
                                <td>{{ summary.earn }}</td>
                                <td>{{ summary.spent }}</td>
                                <td>{{ summary.total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="piechart"></div>
            </div>
            <div class="uk-width-2-5 uk-margin-left">
                {% if latest_entry_list %}
                    <table id="month-spend-table" class="table table-striped table-hover">

                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Date</th>
                                <th scope="col">Type</th>
                                <th scope="col">Area</th>
                                <th scope="col">With</th>
                                <th scope="col">Origin/Dest</th>
                                <th scope="col">Payment</th>
                                <th scope="col">Value</th>
                                <th scope="col">Done</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in latest_entry_list %}
                            <tr>
                                <td><a href="/polls/entry/{{ entry.id }}/">{{ entry.id }}</a></td>
                                <td>{{ entry.entry_date_date }}</td>
                                <td>{{ entry.type }}</td>
                                <td>{{ entry.area }}</td>
                                <td>{{ entry.entry_with }}</td>
                                <td>{{ entry.origin_dest }}</td>
                                <td>{{ entry.payment_type }}</td>
                                <td>{{ entry.value }}</td>
                                <td>{{ entry.realized }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No polls are available.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Types', 'R$'],
            ['ALIMENTACAO', 300],
            ['BANCOS', 20],
            ['CALCADOS', 10],
            ['CAMA_MESA_BANHO', 9],
            ['DIVERSAO', 9],
            ['ELETRONICO', 9],
            ['ESTUDO', 50],
            ['HIGIENE', 250],
            ['INVESTIMENTO', 100],
            ['MORADIA', 0],
            ['MOVEIS', 150],
            ['ROUPAS', 9],
            ['SAUDE', 300],
            ['TELEFONIA', 0],
            ['TRANSPORTE', 0],
            ['N_A', 9]
    ]);

      // Optional; add a title and set the width and height of the chart
      var options = {
          'title':'Spent in R$',
          'height':330,
          is3D: true,
          sliceVisibilityThreshold: 0.02,
          backgroundColor: {
              stroke: '#666',
              strokeWidth: 1,
              fillOpacity: 0.2
          }
      };

      // Display the chart inside the <div> element with id="piechart"
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }
    </script>

</body>



