{% if latest_entry_list %}
    <table>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Type</th>
            <th>Area</th>
            <th>With</th>
            <th>Origin/Dest</th>
            <th>Payment</th>
            <th>Value</th>
            <th>Done</th>
        </tr>
        {% for entry in latest_entry_list %}
        <tr>
            <td><a href="/polls/entry/{{ entry.id }}/">{{ entry.id }}</a></td>
            <td>{{ entry.entry_date_date }}</td>
            <td>{{ entry.type }}</td>
            <td>{{ entry.area }}</td>
            <td>{{ entry.entry_with }}</td>
            <td>{{ entry.origin_dest }}</td>
            <td>{{ entry.payment_type }}</td>
            <td>{{ entry.value }}</td>
            <td>{{ entry.realized }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}




